@font-face {
    font-family: source-sans;
    src: url('assets/SourceSans3-Regular.ttf');
}

html, body {height: 100%; box-sizing: border-box;}

body {
    color: white;
    background-color: #172554;
    font-family: source-sans;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 8px;
    box-sizing: border-box;
}

.info-container, .hourly, .daily {
    height: 100%;
}

img {
    height: 100%;
}

.daily {
    min-height: 190px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.daily > div {
    min-width: 170px;
}

.hourly {
    min-height: 190px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 75px;
}

#page-1, #page-2, #page-3, #page-4 {
    grid-template-columns: repeat(6, 1fr);
}

.hourly > div {
    min-width: 180px;
}

.text-controls {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#hourly-weather {
    justify-self: center;
}

.text {
    display: grid;
}

#daily-weather {
    justify-self: center;
}

.navigation {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.arrow {
    display: grid;
}

.arrow > p {
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.circles {
    align-self: center;
}

.navcircle {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.nav-arrow {
    font-size: 1rem;
    font-weight: bold;
}

.nav-arrow.left-arrow {
    justify-self: end;
    margin-right: 8px;
}

.nav-arrow.right-arrow {
    justify-self: start;
    margin-left: 8px;
}

.info-container {
    min-height: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.middle {
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
}

.middle > div {
    display: flex;
    justify-content: center;
}

.temperature-toggle-div {
    flex-wrap: wrap;
    gap: 8px;
}

.left {
    height: 60%;
    display: grid;
    grid-template-rows: 6fr 1fr;
}

.current-condition-img {
    display: grid;
    grid-template-rows: 1fr 1fr;    
}

#current-condition-text {
    margin-left: 24px;
}

.right {
    height: 60%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.right > div {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
}

#toggle-switch {
    align-self: center;
    appearance: none;
    position: relative; 
    /* this is so that we can position the circle that shows the toggle absolute to the background */
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background 0.2s;
    outline: none;
    cursor: pointer;
}


#toggle-switch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}

#toggle-switch:checked {
    background-color: rgb(32, 189, 32);
}

#toggle-switch:checked::after {
    left: 70%;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 28px;
    padding: 4px 14px;
    background-color: #cbd5e1;
}

#search-city {
    width:100%;
    margin-left: 14px;
    font-size: 14px;
    font-family: source-sans, sans-serif;
    outline: none;
    background: transparent;
    border: none;
}

.search-icon {
    color: black;
    cursor: pointer;
}